body{
    background-color: var(--color-background-body);
    color: var(--color-light);
    line-height: rem(30);
    font-size: rem(20);
    font-family: var(--font-family-helvetica);
    overflow-x: hidden;       
}

a{
    text-decoration: none;
    color: inherit;
}

a,
button,
svg,
textarea,
input * {
    transition-duration: var(--transition-duration);
}

